.a {
  color: #44296b;
}

.b {
  color: #2e1056;
}

.c {
  color: #24123b;
}

.d {
  color: #050014;
}

.e {
  color: #735f90;
}

.f {
  color: #2b2a33;
}

.g {
  color: #23222b;
}

.h {
  color: #1c1b22;
}

.i {
  color: #acacb6;
}

.j {
  color: #fbfbfe;
}

.k {
  color: #ece5fa;
}

.l {
  color: #cec2ea;
}

.m {
  color: #55367c;
}

.n {
  color: #714fa1;
}

.o {
  color: #f3eef6;
}
